<!doctype html>
<html ng-app="myApp">
  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css">
    <link href="js/lib/rainbow/themes/pastie.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="main.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular.min.js" type="text/javascript"></script>
    <!--script src="js/lib/angular.js" type="text/javascript"></script-->
    <script src="js/lib/rainbow/rainbow.min.js" type="text/javascript"></script>
    <script src="js/lib/rainbow/language/generic.js" type="text/javascript"></script>
    <script src="js/lib/rainbow/language/javascript.js" type="text/javascript"></script>
    <script src="js/lib/rainbow/language/html.js" type="text/javascript"></script>

    
  </head>
   <body ng-controller="MainController">



<div class="container-fluid">

<h3>ng-vkThread</h3>

<h5>
 &nbsp;&nbsp;|&nbsp;&nbsp;   
<span ng-click="onClickTab('overview')" 
      style="cursor:pointer" 
      ng-class="{activeTabName: activeTabMenu=='overview'}">
      Overview
</span>    
    &nbsp;&nbsp;|&nbsp;&nbsp;
    <span ng-click="onClickTab('api')" 
          style="cursor:pointer"
          ng-class="{activeTabName: activeTabMenu=='api'}">
        API
    </span>
    &nbsp;&nbsp;|&nbsp;&nbsp;
    
    <span ng-click="onClickTab('examples')" 
            style="cursor:pointer"
            ng-class="{activeTabName: activeTabMenu=='examples'}">
        Examples
    </span>
    &nbsp;&nbsp;|&nbsp;&nbsp;
    <span  style="cursor:pointer">Git</span>
    &nbsp;&nbsp;|&nbsp;&nbsp;
</h5>


<div id="docContentWrapper" >
    <div class="pageContent">
        <ng-include src="activeTab" onload="colorIt()"></ng-include>
    </div>
</div>

<div class="footer">&copy; Vadim Kiryukhin <div>vkiryukhin@gmail.com</div></div>

</div> <!-- container-fluid -->

    <!-- Modules -->
       <!--script src="../vkthread/vkthread.js" type="text/javascript"></script-->
       <script src="../vkthread/vkthread.min.js" type="text/javascript"></script>

    <script src="js/app.js"></script>
 

    <!-- Servises -->
    <script src="js/services/github.js"></script>
    <script src="js/services/examples.js"></script>
    
    
    <!-- Controllers -->
    <script src="js/controllers/MainController.js"></script>
    <script src="js/controllers/ExampleController.js"></script>
  </body>
</html>
